<!doctype html>
<html lang="en">
<head>
    <title>Blackcoffers</title>
    <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>

    <div id="header">
        <h1>Virtual Assistant</h1>
        <select id="pestle">
            <option value="Industries">Industries</option>
            <option value="Environmental">Environmental</option>
            <option value="Economic">Economic</option>
            <option value="Political">Political</option>
            <option value="Technological">Technological</option>
            <option value="Organization">Organization</option>
            <option value="Healthcare">Healthcare</option>
            <option value="Social">Social</option>
            <option value="Lifestyles">Lifestyles</option>
        </select>

        <button id="resetBtn">Reset</button>
    </div>

    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="sp"></svg>

    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map"></svg>

    <div id="showPage">
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script src="../public/script/jsondata.js"></script>
    <script src="../public/script/index.js"></script>
</body>
</html>