<!doctype html>
<html lang="en">
<head>
    <title>Blackcoffers</title>
    <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="sp"></svg>

    <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="map"></svg>

    <div id="showPage">
        <!--<div class="article">-->
            <!--<p id="topic">Energy | Gas</p>-->
            <!--<p>U.S. natural gas consumption is expected to increase during much of the projection period.</p>-->
            <!--<p>Northern America | United States Of America</p>-->
            <!--<a target="_blank" href="http://www.eia.gov/outlooks/aeo/pdf/0383(2017).pdf">Read More</a>-->
        <!--</div>-->
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script src="../public/script/jsondata.js"></script>
    <script src="../public/script/index.js"></script>
</body>
</html>